.center{
    text-align: center;
}

.benefits{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caption{
    font-family: "Sarpanch", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(#F1F3F3, #7C5AED);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

.lottie-container {
    width: 210px; 
    height: 210px;
  }

.second-row{
    margin-top: 10px;
}
  