/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Sarpanch:wght@400;500;600;700;800;900&family=Share+Tech&family=Silkscreen:wght@400;700&family=Zen+Tokyo+Zoo&display=swap');

.side-head{
  margin-top: 30px;
  font-family: "Sarpanch", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(#F1F3F3, #7C5AED);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.para{
  text-align: justify;
  line-height: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
  color: #F1F3F3;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #161E2D;
}

::-webkit-scrollbar-thumb {
  background: radial-gradient( #baa9f4, #7C5AED);
  border-radius: 50px;
}

