.team-section{
    background: rgb(22,30,45);
    background: linear-gradient(-60deg, rgba(22,30,45,1) 16%, rgba(51,0,102,1) 50%, rgba(22,30,45,1) 84%);
    min-height: 100vh;
    padding: 80px 60px 0 60px;
    min-width: 100%;
}


.members-row-one{
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members-row-two{
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.members-row-three{
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* 
.lead {
    display: flex;
    flex-direction: row;
    text-align: right;
    padding-right: 60px;
}

.designation {
    color: #fff;
    font-weight: 400;
}


.name {
    font-size: 40px;
}



.person-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align items horizontally * /
    padding-bottom: 20px; 
}



.connect-btn {
    background: rgb(51,0,102);
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #3a0247, #410157);
    font-weight: 500;
    font-size: 16px;
    padding: 10px 36px;
    border: #ffffff 1px solid;
}


.connect-btn:hover {
    background: linear-gradient(#410157, #3a0247);
    border: #3a0247 1px solid;
}

.connect-btn-div {
    padding-top: 10px;
}

.person-col {
    padding-left: 30px;
    padding-right: 30px;
} */