.hero {
    width: 100%;
    height: 100vh;
    background-color: #161E2D;
    background-image: url("/src/assets/img/hero-bg.png");
    background-size:cover;
    background-position: center;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    padding: 60px;
  }

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 64px;
    margin-top: 20px;
    background: linear-gradient(#F1F3F3, #7C5AED);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


.hero-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  

.hero-content {
text-align: center;
font-family: "Raleway", sans-serif; 
}

.btn {
    margin-top: 80px;
    background: rgb(51,0,102);
    border: none;
    border-radius: 3px;
    background: linear-gradient(90deg, #3a0247, #410157);
    font-weight: 500;
    font-size: 16px;
}


.btn:hover {
    background: linear-gradient(#410157, #3a0247);
}
  